<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">

<HTML>
   <HEAD>
      <TITLE>
         {{ title }}
      </TITLE>
   </HEAD>

</BODY>
   <style>

   * {margin: 0;padding: 0;}

   .header {
       background: url('/assets/background_header.jpg') no-repeat;
       background-size: 100% 100%;
       width: 100%;
       display: inline-block;
       height: 220px;
   }

</style>
   <header class="header"></header>
      <br>
      <H1><br><font face = "Helvetica" size = "6" style="margin-left:800px" >BioSNICAR </font></H1>
      <P><font face = "Helvetica" size = "5" style="margin-left:650px" >Radiative transfer modelling of ice and snow </font></P>
      <br>
      <P></br><font face = "Helvetica" size = "3" style="margin-left:700px" > Please enter your input values and press SUBMIT.</font><br></P>
      <br>
      <form action = "http://localhost:5000/" method = "post">

         <table style="margin-left:50px; margin-top:60;">
            <tr>
               <td align="right">Ice Type (0 or 1) &nbsp &nbsp &nbsp &nbsp</td>
               <td align="left"><input type = "number" min="0" max="1" name = "lyr_typ" style="background-color:#f1eeee;font-size: 12pt" /></td>
            </tr>
            <tr>
               <td align="right">Layer thickness (meters)  &nbsp &nbsp &nbsp &nbsp</td>
               <td align="left"><input type= "number" step="0.01" name = "dz" style="background-color:#f1eeee;font-size: 12pt" /></td>
            </tr>
            <tr>
               <td align="right">Effective grain/bubble radius (microns)  &nbsp &nbsp &nbsp &nbsp</td>
               <td align="left"><input type="number" min = "100" max="20000" name = "r_eff" style="background-color:#f1eeee;font-size: 12pt" /></td>
            </tr>
            <tr>
               <td align="right">Ice density (kg/m3)  &nbsp &nbsp &nbsp &nbsp</td>
               <td align="left"><input type = "number" min="100" max="900" name = "rho" style="background-color:#f1eeee;font-size: 12pt" /></td>
            </tr>
            
         </table>
          

      <input type = "submit" value = "submit" style = "background-color:#f1eeee;font-size: 26px; font-weight:bold; height:50px; width:200px; margin-left:780px" /></p>

   <br>
   <br>
   <P><font face = "Helvetica" size = "3" style = "position:absolute;bottom:100px;margin-left:50px">Click to access app documentation</font></P>
   </form>

   <P><button onclick="location.href = 'https://biosnicar-go-py.readthedocs.io/';" id="docs" style= background-color:#f1eeee;position:absolute;margin-left:50px;bottom:50px;font-size:20px;height:40px;width:200px;" ><b> More Info</b> </font></button></P>
   <br>
   <br>
      <style>


   * {margin: 0;padding: 0;}

   .footer {
       background: url('templates/assets/background.jpg') no-repeat;
       background-size: 100% 100%;
       width: 100%;
       display: inline-block;
       height: 250px;
   }
   </style>


</BODY>
</HTML>