<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">

<HTML>
   <HEAD>
      <TITLE>
         {{ title }}
      </TITLE>
   </HEAD>

</BODY>
   <style>

   * {margin: 0;padding: 0;}

   .header {
       background: url('/assets/background_header.jpg') no-repeat;
       background-size: 100% 100%;
       width: 100%;
       display: inline-block;
       height: 250px;
   }
   </style>
   <header class="header"></header>

   <img src="{{ url_for('static', filename = 'outputs/albedo.jpg') }}" width="800" height="600">
   <br>
   <br>
   <br>
      <style>

   * {margin: 0;padding: 0;}

   </style>

</BODY>
</HTML>


